<p>Select the world you wish to explore:</p>

<ul>
  <li>
    <a class="button" mat-button
       [routerLink]="['/players', 107]"
       routerLinkActive="active">World 107</a>
  </li>
  <li>
    <a class="button" mat-button
       [routerLink]="['/players', 110]"
       routerLinkActive="active">World 110</a>
  </li>
  <li>
    <a class="button" mat-button
       [routerLink]="['/players', 111]"
       routerLinkActive="active">World 111</a>
  </li>
  <li>
    <a class="button" mat-button
       [routerLink]="['/players', 112]"
       routerLinkActive="active">World 112</a>
  </li>
  <li>
    <a class="button" mat-button
       [routerLink]="['/players', 113]"
       routerLinkActive="active">World 113</a>
  </li>
  <li>
    <a class="button" mat-button
       [routerLink]="['/players', 114]"
       routerLinkActive="active">World 114</a>
  </li>
</ul>
